{% extends 'index.html' %}

{% block body %}
{% load static %}



<section class="box-content box-4 box-style-2">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>What Our Clients Say</h2>
					<hr class="line">
					<div class="intro">Lastest Project We Working On</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner1.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner2.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner3.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner1.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner3.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner2.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
				</div>
			</div>
		</section>
 {% endblock body %}