{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}
{% block content %}

		<!-- Static Header -->
		<div class="header-text">
			<div class="header-text-inner">
				<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "About Us" %}</p>
				<h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "About Us" %}</h1>
			</div>
		</div><!-- /header-text -->
	</div>
</header>
<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<div class="box-content">
			<div class="container">
				<!-----------------Content-------------------->
				<article class="single-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header text-center">
							<h1 class="entry-title">{% trans "Tomillo Foundation" %}</h1>
						</div>
						<div class="post-thumbnail-wrap">
							<div class="portfolio-box zoom-effect">
								<img src="{% static 'images/aboutus.jpg' %}" class="img-responsive" alt="">
							</div>
						</div>
						<div class="entry-content">
							<p>{% trans "The Foundation aims to:" %}</p>
							<div class="note">
							  <ol>
								<li>{% trans "Promote, support or undertake activities dedicated to facilitate the social and occupational inclusion of those disadvantaged or at social risk, through training programs and/or the requalification, guidance services and other initiatives." %}</li>
								<li>{% trans "Promote, support, or undertake pre-school, child, and youth education activities in socially disadvantaged environments, to improve access to educational resources and prevent academic failure." %}</li>
								<li>{% trans "Promote, support, or undertake other activities that, benefitting society, are directly or indirectly related to the aforementioned objectives, including cultural activities, study and analysis of social and economic reality, volunteer promotion, development of social economy and sustainability" %}<br><br></li>
							  </ol>
							  <div class="clear"></div>
							</div>
							<blockquote><p>{% trans "Tomillo Foundation Mission:" %}<br>{% trans "Contribute to the improvement of our society by helping people in vulnerable situations to better their life and their community." %}</blockquote>
							<p><br><br>{% trans "Tomillo Foundacion main activities are:" %}</p>
							<div class="note">
							  <ol>
								<li>{% trans "School and Community" %}</li>
								<li>{% trans "Training and Employment" %}</li>
								<li>{% trans "Studies and Social Innovation" %}<br><br></li>
							  </ol>
							  <div class="clear"></div>
							</div>
							<p><code>{% trans "Website Address:" %} <a target="_blank" href="https://tomillo.org/"> {% trans "Tomillo Fundation" %}</a></code></p>
						</div>
					</div>
				</article>
			</div>	
			
		</div>
		
	</div>

	<script>
		function Barrita() {
			$('#au').addClass('active');
        }
		window.onload = Barrita
    </script>

{% endblock content %}