{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}

{% block content %}
			
			<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Our Students' CV" %}</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "Alumni" %}</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">		
		<div class="box-content">
			<div class="container">
				<div class="row">
					{% for a in alumni %}

                    <div class="col-md-4 text-center animate-box">
                        <div class="product">
                            <div class="product-grid" style="background-image:url(' ../../static{{ a.foto.url }}');">
                            	<div class="inner">
                                    <p>
										<a target ="_blank" class ="btn btn-skin" href= "../../static/iemeges/{{a.cv}}">CV</a>
                                    </p>
                                </div>

							</div>
							<div class="desc">
								<h3><a>{{a.nombre}}</a></h3>
								<p class="price">{{a.acerca_de}}</p>
							</div>
							
                        </div>
                    </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>

	<script>
		function Barrita() {
			$('#alum').addClass('active');
        }
		window.onload = Barrita
    </script>

{% endblock content %}