{% extends 'tomillo/template.html' %}
{% load static %}
{% block content %}
	
			<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Leave us a message</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">Contact us</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<!-----------------Content-------------------->
		<section class="box-content">
			<div class="container">										
				{% if messages %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							{% for message in messages %}
							<div class="alert alert-{{ message.tags }}" role="alert">
								<p>{{ message }}</p>
							</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col-md-4 box-item">
						<h3>Contact Info</h3>
						<span>Do we share the same values? <br>Do you want to be a part of our project? <br>Leave us a message.</span><br> <br>
						<p>C/ Albuñuelas, 15<br>28041 Madrid Spain</p>
						<p>+34 913 92 04 40</p>
						<p>tomillof5@tomillo.org</p>
					</div>
					<div class="col-md-8">

						<h3>Contact Form</h3>
						<form name="form1" method="post" action=""> {% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										{{ form.contact_name }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										{{ form.contact_email }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										{{ form.subject }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										{{ form.message }}
									</div>						
									<button type="submit" class="btn btn-skin btn-block" name="submitcontact" id="submitcontact">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	
	<script>
		function Barrita() {
			$('#cont').addClass('active');
			$('.wrap-footer').css('display', 'none');
			$('#page-content').css({'marginBottom': '75px'});
        }
		window.onload = Barrita
    </script>
    
	
	{% endblock content %}