{% extends 'tomillo/template.html' %}
{% load static %}
{% block content %}

		<!-- Static Header -->
		<div class="header-text">
			<div class="header-text-inner">
				<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Terms and Conditions</p>
				<h1 class="wow fadeInLeft" data-wow-duration="1.5s">Legal</h1>
			</div>
		</div><!-- /header-text -->
	</div>
</header>
<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<div class="box-content">
			<div class="container">
				<!-----------------Content-------------------->
				<article class="single-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header text-center">
							<h1 class="entry-title">Política de privacidad</h1>
						</div>
						<div class="post-thumbnail-wrap">
							<div class="portfolio-box zoom-effect">
								<img src="{% static 'images/ilegal.jpg' %}" class="img-responsive" alt="">
							</div>
						</div>
						<div class="entry-content">
							<p>Fundación Tomillo, titular del website gotech.alwaysdata.net, y responsable de los datos de carácter personal suministrados por los usuarios a través del mismo, es una fundación privada, de nacionalidad española, no gubernamental, sin ánimo de lucro, con domicilio social en Madrid, Calle Albuñuelas 15, 28041, inscrita en el Registro Estatal de Fundaciones y en el Protectorado de Fundaciones del Ministerio de Educación, Cultura y Deportes, con el número 28-0825, constituida el 24 de septiembre de 1984 y con C.I.F. número: G-28979136.<br></p>
							<p>De acuerdo con la normativa vigente en materia de protección, Reglamento General de Protección de Datos (UE 2016/679 de 27 de abril de 2016, (RGDP), y la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, te informamos de que los datos de carácter personal que nos facilites en el proceso de alta, cumplimentando el formulario web correspondiente; así como los que se obtengan mediante conversaciones telefónicas y en posteriores comunicaciones con Fundación Tomillo, serán tratados con estricta confidencialidad. Asimismo, el usuario acepta que los datos personales aportados en el momento de su registro, o cualquier otro facilitado a Fundación Tomillo, para su acceso a algunos de los servicios o participación a alguna de las actividades publicitadas en el website, sean incorporados a ficheros titularidad de esta entidad, con las siguientes finalidades:<br></p>
							<p>1.-Candidaturas a empleo, prácticas o voluntariado. Participas en un proceso de selección. Información personal que recopilamos:<br></p>
							<ol>	
								<li>Datos identificativos y de contacto.</li>
								<li>Datos académicos y profesionales: Curriculum Vitae, historial académico o laboral.</li>
								<li>Resultados de las entrevistas personales, las evaluaciones y pruebas de selección empleados.</li>
								<li>Certificado de ausencia de antecedentes penales para aquellas prácticas, voluntariado o empleo que requieran el contacto con menores.</li>
								<li>Información en caso de que sea necesario confirmar tu permiso de residencia y empleo.</li>
								<li>Certificado de discapacidad en caso de ser necesario aportarlo.</li>
								<li>Finalidad: Gestionar la participación del candidato/a en el proceso de selección y realizar su evaluación.</li>
								<li>Base legal para el tratamiento: Consentimiento del interesado.</li>
								<li>Conservación de los datos: Los datos serán conservados en nuestros ficheros para futuros procesos de selección y/o de formación, hasta que Vd. revoque expresamente su consentimiento. Si el interesado revoca su consentimiento o ejercita el derecho de supresión, sus datos personales se conservarán bloqueados durante los plazos establecidos legalmente para atender a las posibles responsabilidades nacidas del tratamiento de los mismos.<br></li>
							</ol>
							<p>2.- Socios, donantes e interesados. Información personal que recopilamos:<br></p>
							<ol>	
								<li>Datos identificativos y de contacto.</li>
								<li>Datos bancarios.</li>
								<li>Finalidad: Facilitar la prestación de los servicios y actividades solicitados, para la correcta identificación de los usuarios que solicitan servicios personalizados en “tomillo.org”, para la realización de estudios estadísticos de los usuarios registrados en “tomillo.org” que permitan diseñar mejoras en los servicios y actividades, para la gestión de tareas básicas de administración, así como para mantenerle informado, bien por correo electrónico bien por cualquier otro medio, de novedades, actividades y servicios relacionados con Fundación Tomillo.</li>
								<li>Base legal para el tratamiento: Consentimiento del interesado.</li>
								<li>Conservación de los datos: Los datos serán conservados en nuestros ficheros por el plazo determinado en base a los siguientes criterios: obligación legal de conservación; mientras siga vigente su relación con la Fundación Tomillo sea como socio, donante, interesado, etc y, en todo caso hasta la solicitud de supresión por parte del interesado en los supuestos en los que proceda.<br></li>
							</ol>	
							<p>Fundación Tomillo se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de tratarlos con confidencialidad, y asume, a estos efectos, las medidas de índole técnica, organizativa y de seguridad necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en el Reglamento General de Protección de Datos (UE 2016/679 de 27 de abril de 2016, (RGDP), y demás legislación aplicable que se establezca en un futuro.<br></p>
							<p>El usuario declara que es mayor de 18 años. De igual modo, en caso de que los datos que proporcione durante la navegación de la página web, sean de menores de edad, como padre/madre o tutor del menor, autoriza expresamente el tratamiento de dichos datos incluidos, en su caso, los relativos a la salud, para la gestión de las finalidades detalladas en la información sobre protección de datos.<br></p>
							<p>El usuario responderá, en cualquier caso, de la veracidad de los datos facilitados, reservándose Fundación Tomillo el derecho a excluir de los servicios registrados a todo usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.<br></p>
							<p>En cualquier momento Vd. podrá ejercitar sus derechos de acceso, rectificación, cancelación, oposición, supresión y portabilidad al tratamiento de sus datos, dirigiéndose a la dirección del domicilio social anteriormente mencionada, con las referencias:<br></p>
							<ol>
								<li>Para candidaturas de empleo y prácticas: Referencia “Protección de Datos: Área de personas”. También puede hacerlo a través de correo electrónico a la siguiente dirección trabajacontomillo@tomillo.org, indicando la misma referencia.</li>
								<li>Para candidaturas de voluntariado: Referencia “Protección de Datos: Voluntarios”. También puede hacerlo a través de correo electrónico a la siguiente dirección participa@tomillo.org, indicando la misma referencia.</li>
								<li>Para socios, donantes e interesados: Referencia “Protección de Datos: Socios y Donantes”. También puede hacerlo a través de correo electrónico a la siguiente dirección comunicacion@tomillo.org, indicando la misma referencia.<br></li>
							</ol>
							<p>En todos los casos su solicitud debe ir acompañada de copia del documento que acredite fehacientemente su identidad.<br></p>
							<p>En cualquier momento y por los medios anteriormente indicados Vd. podrá revocar el consentimiento al tratamiento de sus datos sin efectos retroactivos y en los términos previstos legalmente.<br></p>
							<p>El interesado puede presentar una reclamación ante la Agencia Española de Protección de Datos a través de la página web habilitada a tales efectos por la Autoridad de Control correspondiente.</p>
						</div>
					</div>
				</article>
			</div>	
			
		</div>
		
	</div>

{% endblock content %}