{% extends 'tomillo/template.html' %}
{% load static %}
{% block content %}
			
			<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Be Our Partner</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">Partners</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		<div class="box-content">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-----------------Content-------------------->
						<article>
							<div class="wrap-post"><!--Start Box-->
								<div class="entry-header">
									<h2 class="entry-title"><a href="single.html">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
								</div>
							</div>
						</article>
					</div>
				</div>

				<div class="row">
					{% for a in aliado %}
                    <div class="col-md-4 text-center animate-box">
                        <div class="product">
                            
                            <div class="product-grid" style="background-image:url(' ../../static{{ a.foto.url }}');">
                                <div class="inner">
                                    <p>
                                        <!-- Aquí va el link al CV, ya sea abriendo otra pestaña o descargando -->
                                        <a href="{% url 'tomillo:contact' %}" class="icon"><i class="icon-eye"></i></a>
                                       
                                    </p>
                                </div>
							</div>
							<div class="desc">
								<h3><a href="single.html">{{a.nombre}}</a></h3>
								<span class="price">{{a.testimonio}}</span>
							</div>
                        </div>
                    </div>
                    {% endfor %}
				</div>
			</div>
		</div>
		
	</div>

	<script>
		function Barrita() {
			$('#par').addClass('active');
        }
		window.onload = Barrita
    </script>

{% endblock content %}