{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}

{% block content %}


	<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Articles about our project" %}</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "Press" %}</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<div class="box-content">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">


					<!-----------------Content-------------------->
						<article>

							{% for press in prensa %}
							<div class="wrap-post"><!--Start Box-->
								<div class="entry-header">
									
										<h2 class="text-uppercase font-weight-bold text-center"><a href="">{{press.titulo}}</a></h2>
										
											<span class="entry-meta">
												<ul class="list-inline link">
													<li><a href="#">{{press.fecha}}</a></li>
												</ul>
											</span>
								</div>
								<div class="post-thumbnail-wrap">
									<div class="portfolio-box zoom-effect">
										<img src="{{ press.imagen.url }}" class="img-responsive" alt="#">
									</div>
								</div>
								<div class="entry-content">
									<p> {{press.descripcion}} </p> 
									<a class="btn btn-skin" href="{{press.link}}">{% trans "Read More" %}</a>
								</div>
							</div>
							{% endfor %}

						</article>
						
					

					<table>
						<thead>
							<tr>
								<th>
									{% if page_obj.has_next %}
									<a class="btn btn-skin" role="button" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
									{% endif %}
									{% if page_obj.has_previous %}
									<a class="btn btn-skin" role="button" href="?page={{ page_obj.previous_page_number }}">{% trans "Back" %}</a>
									{% endif %}
								</th>
							</tr>
						</thead>
					</table>

					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock content %}	

 




