{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}


{% block content %} 

        <!-- Static Header -->
        <div class="header-text">
            <div class="header-text-inner">
                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Formación" %}</p>
                <h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "FORMACIÓN" %}</h1>
            </div>
        </div><!-- /header-text -->
    </div>
</header>

<div id="page-content">
        
        <div class="box-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">


                    <!-----------------Content-------------------->
                        <article>
                             {% for k in formacionId %}    
                            <h1 class="text-center" style="color: black">{{k.nombrePrograma}} <i class="ti-hand-point-right"></i> 
                            
                            <div class="wrap-post"><!--Start Box-->
                                <div class="entry-header">
                                    
                                        <div class="list-group">
                                              <a class="list-group-item disabled">{% trans "Inicio:" %} {{k.inicio}}</a>
                                              <a class="list-group-item disabled">{% trans "Horas:" %} {{k.horas}}</a>
                                              <a class="list-group-item disabled">{% trans "Lugar:" %} {{k.lugar}}</a>
                                        </div>
                                </div>
                                <div class="entry-content">
                                    <p> {{k.descripcion}} </p> 
                                    <p> {{k.contenido}} </p>
                                    <a class="btn btn-skin" href="{% url 'tomillo:contact' %}">{% trans "Inscribirse" %}</a>
                                </div>            
                                 
                                <!--<div class="post-thumbnail-wrap">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="{{ pro.imagen.url }}" class="img-responsive" alt="#">
                                    </div>
                                </div>-->
                                <div class="entry-content">
                                    <ul class="list-group">
                                      <li class="list-group-item">{% trans "Requisitos:" %} {{k.requisitos}}</li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>{% trans "Patrocinadores:" %} {{k.patrocinador}}  </p> 
                                </div>
                            </div>
                            {% endfor %}

                        </article>
                
                    </div>
                </div>
            </div>
        </div>
    </div>

   
{% endblock content %}