{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}


{% block content %} 

        <!-- Static Header -->
        <div class="header-text">
            <div class="header-text-inner">
                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Trainings" %}</p>
                <h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "TRAINING" %}</h1>
            </div>
        </div><!-- /header-text -->
    </div>
</header>

<div id="page-content">
        <div class="box-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-----------------Content-------------------->
                        <article>
                            <div class="wrap-post"><!--Start Box-->
                                {% for k in formacionId %}
                                <div class="entry-header">
                                    <h1 class="entry-title text-center text-uppercase">{{k.nombrePrograma}}</a></h2>
                                </div>
                                <div class="post-thumbnail-wrap">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="{{k.imagen.url}}" class="img-responsive text-center" alt="">
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <p class="text-justify">{{k.descripcion}}</p>
                                    <dl>
                                        <dt>{% trans "Content:" %}</dt>
                                        {% autoescape off%}
                                        <dd>{{k.contenido}} </dd>
                                        {% endautoescape %}<br/>
                                        <dt>{% trans "Requirements:" %}</dt>
                                        {% autoescape off%}
                                        <dd>{{k.requisitos}}</dd>
                                        {% endautoescape %}<br/>
                                        <dt>{% trans "Starting Date:" %}</dt>
                                        {% autoescape off%}
                                        <dd>{{k.inicio}}</dd>
                                        {% endautoescape %}<br/>
                                        <dt>{% trans "Hours:" %}</dt>
                                        {% autoescape off%}
                                        <dd>{{k.horas}}</dd>
                                        {% endautoescape %}<br/>
                                        <dt>{% trans "Place:" %}</dt>
                                        {% autoescape off%}
                                        <dd>{{k.lugar}}</dd>
                                        {% endautoescape %}<br/>
                                        <dt>{% trans "Sponsors:" %}</dt>
                                        {% autoescape off%}
                                        <dd>{{k.patrocinador}}</dd>
                                        {% endautoescape %}<br/>
                                    </dl> 
                                    <br/>
                                </div>
                                <div class="row">
                                    {% for p in k.logo.all %}<br>
                                    <div class="col-md-6 text-center">
                                        <div class="product"><br>                                            
                                                <img src="{{p.logo.url}}" class="img-responsive" alt="#">                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-skin btn-block" href="{% url 'tomillo:contact' %}">Register</a>

                            {% endfor %}
                        </div>
                    </article>
                </div>               
            </div>
            </div>
        </div>
    </div>

   
{% endblock content %}