{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}
{% block content %}


	<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Promocion" %}</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "Promocion" %}</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<div class="box-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">


					<!-----------------Content-------------------->
						<article>

							  
							
							<div class="wrap-post"><!--Start Box-->
                                {% for pro in edicion %}
                                <div class="entry-header">
                                    <h1 class="entry-title text-center text-uppercase">{{pro.nombrePromo}}</a></h2>
                                    	<span class="entry-meta">
												<ul class="list-inline text-center">
													<li>{{pro.inicio}} - {{pro.fin}}</li>
												</ul>
										</span>
                                </div>
                                <div class="post-thumbnail-wrap">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="{{pro.imagen.url}}" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="entry-content">
									<h6 class="entry-title recursos"><a href="">{{pro.programa}}</a></h6>
									<h2 class="entry-title"><a href="">{{pro.duracion}} horas</a></h2>
									
								</div>
								{% endfor %}

								
                                    {% for p in press %}
                                    <div class=" col-8 col-sm-3"><!--Start Box1--> 
										<div class="classWithM"> 
											<div class="post-thumbnail-wrap">
													<div class="portfolio-box zoom-effect">
													<img src="../../static/iemeges/{{p.imagen}}" class= "lua" alt="#" >
													</div>
													
											</div>
										</div>
									</div>

						    {% endfor %}
                        	</div>
						</article>
				
					</div>
				</div>
			</div>
		</div>
		
	</div>


{% endblock content %}	





