{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}
{% block content %}
			
			<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Resources" %}</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "Resources" %}</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<div class="box-content">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-----------------Content-------------------->
						<article>
							

						{% for r in res %}
							<div class="wrap-post"><!--Start Box1-->
								<div class="entry-header">
									<h3 class="entry-title"><a href="">{{r.programa.nombre}}</a></h3>
									<h3 class="entry-title"><a href="">{{r.nombre}}</a></h3>

									

									<div class="post-thumbnail-wrap">
										<div class="portfolio-box zoom-effect">
									<img class="lua" src="{% static 'images/100.jpg' %}"/>
									</div>
									</div>

									<div class="entry-content">
									<a target ="_blank" class ="btn btn-skin" href= "../../static/iemeges/{{r.archivo}}">Download</a>
								</div>
								</div>
							</div>
							{% endfor %}

						
					</article>
				</div>
				</div>
			</div>
		</div>
		
	</div>

	<script>
		function Barrita() {
			$('#res').addClass('active');
        }
		window.onload = Barrita
    </script>

{% endblock content %}



