{% extends 'tomillo/template.html' %}
{% load static %}{% load i18n %}
{% block programas %}  
	 
		{% for prog in programas %}	 
			<li class="dropdown-submenu"> 
				<a href="{% url 'tomillo:formacion' prog.id %}" class="dropdown-toggle" data-toggle="dropdown">{{prog.nombrePrograma}}<i class="fa fa-chevron-right"></i></a> 
										 
				<ul class="dropdown-menu ocult">									 
					{% for promo in promociones %}	 
						{% if prog.id == promo.programa.id %} 
							<li><a href="#">{{promo.nombrePromo}}</a></li> 
						{% endif %} 
					{% endfor %} 
				</ul> 
			</li>														 
		{% endfor %}
						 
{% endblock programas %} 
{% block content %}
			
			<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans "Learn with us" %}</p>
					<h1 class="wow fadeInLeft" data-wow-duration="1.5s">{% trans "Resources" %}</h1>
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
<div id="page-content">
		
	<div class="box-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
						<!-----------------Content-------------------->

					<article>
						{% for r in res %} 
						<div class=" col-6 col-sm-3"><!--Start Box1--> 
							<div class="classWithM"> 
							<div class="entry-header"> 
									<h6 class="entry-title recursos"><a href="">{{r.programa.nombrePrograma}}</a></h6>
									<h2 class="entry-title"><a href="">{{r.nombreRec}}</a></h2>

									<div class="post-thumbnail-wrap">
										<div class="portfolio-box zoom-effect">
										<img src="../../static/iemeges/{{r.imagen}}" class= "lua" alt="#"> 
										</div>
									</div>
							</div>
									<div class="entry-content resumen" > 
									<a target ="_blank" class ="btn btn-skin" href= "../../static/iemeges/{{r.archivo}}">Download</a>
									</div>
							</div>
						</div>
						{% endfor %}	
					</article>

					<table> 
						<thead> 
							<tr> 
								<th> 
									{% if page_obj.has_next %} 
									<a class="btn btn-skin" role="button" href="?page={{ page_obj.next_page_number }}">Next</a> 
									{% endif %} 
									{% if page_obj.has_previous %} 
									<a class="btn btn-skin" role="button" href="?page={{ page_obj.previous_page_number }}">Previous</a> 
									{% endif %} 
								</th> 
							</tr> 
						</thead> 
					</table>	 
				</div> 
			</div> 
		</div> 
	</div>
</div>
	<script>
		function Barrita() {
			$('#res').addClass('active');
        }
		window.onload = Barrita
    </script>

{% endblock content %}



